* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ada9a9;
    height: 100vh;
}

.eye{
    margin-left: -15px;
    margin-right: 5px;
    cursor: pointer;
}
.comenzarPartida {
    margin-left: 50px;
}
.contenedor {   
    text-align: center;
}


.contenedor-informacion {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button  {
    padding: 10px 20px;
    background-color: #ccff99;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #99cc66;
}

.informacion-juego {
    background-color: #a3b8ce;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tablero-juego {
    display: flex;
    background-color: #7c93ab;
    padding: 20px;
    border-radius: 15px;
}

.informacion-jugador {
    background-color: #8175c1;
    padding: 10px;
    border-radius: 15px;
    width: 340px;
    text-align: left;
    margin-right: 160px;
    color:#ffffff;
}

.img-ahorcado {
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-left: -80px;
}

.alfabeto {
    margin-top: 20px;
}

.alfabeto button {
    background-color: #ffff99;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.alfabeto button {
    border-color: #0f0f0f;
    background-color: #99cc66;
}
input:disabled, button:disabled {
    cursor: not-allowed;
  }